.login_form {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.forgot_pass {
  color: #c40003;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 0.14px;
}

.terms_privacy_text {
  background: var(
    --Gradient-2,
    linear-gradient(180deg, #1b5b7e 0%, #105479 104.16%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 12.96px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
}

.login_form_sec {
  position: relative;
  min-height: 100vh;
}

/* .login_form_sec::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 50vh;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 0; 
}*/

.login_form_sec::after {
  content: "";
  /* Required for ::after pseudo-element */
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  /* Ensure it covers the full width */
  height: 100%;
  /* Ensure it covers the full height */
  max-height: 50vh;
  /* Maintain your minimum height condition */
  background-image: url("../images/login_bg.png");
  background-size: cover;
  /* Ensures the image scales properly */
  background-position: center;
  /* Centers the background image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  opacity: 0.9;
  /* Optional for a faded effect */
  z-index: -1;
  /* Keeps the background behind content */
}

.form-control {
  padding: 0.65rem 0.75rem;
}

.sign_in_btn {
  border: 0px;
  background-color: aquamarine;
  display: flex;
  height: 44px;
  padding: 10px 7.405px;
  justify-content: center;
  align-items: center;
  gap: 7.405px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );

  /* text style */
  color: var(--Text-Slate-Color-01, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 100% */
  letter-spacing: -0.14px;
}

.sign_in_btn:hover {
  color: #fff;
}

.spacer_40 {
  height: 40px;
}

.lenguage_select {
  border: 0px;
  height: 35px;
  background-color: #eefaff;
  border-radius: 8px;
  max-width: 200px;
  /* text */
  color: #004263;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
}

.lenguage_select option {
  color: #004263;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 100% */
}
.reserved_col {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.logo_col {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

/* meidia query */
@media (max-width: 1200px) {
  .reserved_col {
    position: relative;
    bottom: 0px;

    /* margin-top: 50px; */
  }

  .logo_col {
    position: relative;
    margin-left: 15px;
    bottom: 0px;
    padding-left: 10px;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
  }
  .login_form_sec::after {
    max-height: 90vh;
  }
}

/* login Phase 2 */

.p2_login_form {
  border-radius: 10px 0px 0px 10px;
  background: var(--White, #fff);
  box-shadow: 0px 2px 20px 1px rgba(13, 12, 84, 0.06);
  padding: 20px 40px;
  position: relative;
  min-height: 660px;
  z-index: 0;
}

.p2_event_col {
  border-radius: 0px 10px 10px 0px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0px 2px 20px 1px rgba(13, 12, 84, 0.06);
  padding: 20px 40px;
  height: 100%;
}

.events_select {
  width: 190px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid var(--Grey, #afafaf);
  padding: 3px 10px;
  color: var(--Secondary, #102c3a);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
}

.events_select:hover{
  cursor: pointer;
}

.events_select.form-select {
  --bs-form-select-bg-img: url('../icons/custom_select_dropdown.png');
  background-image: var(--bs-form-select-bg-img);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 10px 5px;
  padding-right: 2.5rem; /* Make space for the icon */
}

.left_red_border_card {
  border-radius: 5px;
  border: 1px dashed var(--Grey, #afafaf);
  background: var(--white, #fff);
  border-left: 6px solid #f00;
  padding: 10px 15px 10px 5px;
}

.left_green_border_card {
  border-radius: 5px;
  border: 1px dashed var(--Grey, #afafaf);
  background: var(--white, #fff);
  border-left: 6px solid #30b500;
  padding: 10px 15px 10px 5px;
}

.fs_12_fw_500_c_58748F{
  color: #58748F;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 12px; /* 100% */
}

.login_phase2_bottom{
  position: absolute;
  bottom: 30px;
  right: 0px;
  left: 0px;
}

.pahe2_select_wrapper{
  display: flex;
  justify-content: center;
  margin: 20px 0px 22px 0px;
}

.login_pegi_icon{
  width: 7px;
  height: 10px;
  cursor: pointer;
}


.login_pegi_icon2{
  width: 5px;
  height: 8px;
  cursor: pointer;
}

.privecy_bottm{
  position: absolute;
  text-align: center;
  bottom: 25px;
  flex: column;
  transform: translate(-50%, 0%);
  left: 50%;
}

/* media query */

@media (max-width: 992px) {
  .p2_login_form {
    border-radius: 10px;
  }
  .p2_event_col {
    border-radius: 10px;
    margin-top: 40px;
  }
  .login_phase2_bottom{
    position: relative;
    bottom: 0px;
  }
}
