:root {
  --primary_bg_color: #1b5b7e;
  --secondary_bg_color: #eefaff;
  --white_bg_color: #fff;
  --gray_bg_color: #ddd;
  --light_gray_bg_color: #f5f5f5;
  --dark_bg_color: #000;
  --light_dark_bg_color: #313030;
  --table_evan_color: #b12525;
  --table_odd_color: #b12525;
  --outline_bg: #007cba21;
  --incomplete-bar: #f00;
}

.loader_conrainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  display: none;
}

.spinner-wrapper {
  position: relative;
}

.spinner-center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem; /* adjust size */
  height: 2rem;
  transform: translate(-50%, -50%);
  pointer-events: none; /* image won't block clicks if needed */
}

.custom-spinner{
  border-width: 0.4em;
  border-color: #037dba;
  border-top-color: transparent; 
}


.spinner-border {
  --bs-spinner-width: 6rem;
  --bs-spinner-height: 6rem;
}

body {
  font-family: Poppins;
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary_bg_color);
  color: #fff !important;
}

.text-light {
  color: #fff;
}

#header-placeholder {
  height: auto;
  /* min-height: 70px; */
  background-color: var(--primary_bg_color);
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 22;
}

/* rings style */

.benifit_signal_ring {
  width: 135px;
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: 1;
}

.benifit_dubble_ring {
  position: absolute;
  top: -52px;
  left: -62px;
  width: 135px;
  z-index: 1;
}

.blue_ring_bg_img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  width: 600px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.ring_bg_img {
  position: absolute;
  top: 0%;
  left: 50%;
  max-width: 100%;
  width: 600px;
  height: auto;
  transform: translate(-50%, -5%);
  z-index: 0;
}

.ring_bg_img_2 {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  width: 600px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.reverse_sec_pading {
  padding: 30px 40px;
}

.section_contaier {
  padding: 0px 10px;
}

.primary_bg {
  background-color: var(--primary_bg_color);
}
.red_gb {
  border-radius: 10px;
  background: #fee;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.13);
}

.bg_blue {
  background-color: #eefeff;
}

.bg-white {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.managed_rfp {
  background-image: url("/assets/images/services/managed_rfp.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
}

.managed_rfp::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(17px);
}

.bg_white_shadow {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
  padding: 40px;
}

.light_bg {
  background-color: #fff;
}

.nav-item {
  position: relative;
}

.dropdown {
  cursor: pointer;
}

/* .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
  background-image: url("../images/Ellipse_white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */

.nav-item .active {
  cursor: pointer;
}

.nav-item .dropdown.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
  background-image: url("../images/Ellipse_white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.drawer_menu {
  background-color: var(--primary_bg_color);
  max-width: 75%;
  min-width: 275px;
}

.drawer_icon {
  font-size: 25px;
  color: #fff;
}

.linear_gradient_blue {
  background: linear-gradient(180deg, #fff 0%, #eefeff 100%);
}

.banner_gradient {
  width: 50%;
  min-width: 50%;
  /* max-width: 100%; */
  height: 100%;
  background-color: #edfbff;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  bottom: -60%;
  left: 50%;
  /* right: 10%; */
  transform: translateX(-50%);
  /* filter: blur(100px); */
  filter: blur(212px);
}

.bg_004263 {
  border-radius: 8px;
  background: #004263;
}
.bg_fff {
  border-radius: 8px;
  background: var(--White, #fff);
}
a {
  text-decoration: none;
}
.bg_fff_shadow {
  border-radius: 8px;
  background: var(--White, #fff);
  background: white;
  padding: 20px;
  border-radius: 8px;
  border-width: 0px 1px 1px 1px;
  border-color: #ddd;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.bg_fff_shadow:hover {
  box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.35);
}

.bg_primary_gradiant {
  border-radius: 8px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
}

.bg_EEFEFF {
  border-radius: 0px 8px 8px 0px;
  background: #eefeff;
}

.bg_EEFEFF_rounded {
  border-radius: 8px;
  background: #eefeff;
}

.img_outer_shadow {
  border-radius: 10px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin: 0;
  padding: 0;
}

.secondry_bg {
  background-color: var(--secondary_bg_color);
}

.cursor-pointer {
  cursor: pointer !important;
}

.border_white_bg_btn {
  display: inline-flex;
  /* height: 44px; */
  padding: 13px 40px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  flex-shrink: 0;
  /* border-radius: 10px;
    border: 1px solid #004263; */
}

.wite_border_btn {
  min-width: 140px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #fff;
}

.wite_border_btn:hover{
  border-radius: 10px;
background: var(--Gradient, linear-gradient(180deg, #004263 0%, #0086C9 100%));
border: 0px;
color: #fff;
/* padding: 10px 30px; */
}

.header_con_btn {
  color: #fff;
}

.header_con_btn.active{
background: var(--Gradient, linear-gradient(180deg, #004263 0%, #0086C9 100%));
border: 0px;
color: #fff;  
}
 

.wite_border_btn_2 {
  display: flex;
  height: 44px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Stroke, #b5b8b8);
  /* text style */
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 100% */
}

.integration_right_column {
  border-radius: 8px;
  border: 1px solid rgba(39, 124, 155, 0.35);
  background: #f3fdff;
  min-height: auto;
  padding: 40px;
}

.bg_white {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
  height: 100%;
}

.integration_bg_white {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
  height: auto;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-top: 160px;
}

.white_bg_btn {
  min-width: 155px;
  display: inline-flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #105479;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  background: #fff;
}

.btn_primary {
  border-width: 0px;
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  /* text style */
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn_primary_2 {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(
    --Gradient-2,
    linear-gradient(180deg, #1b5b7e 0%, #105479 104.16%)
  );
}

.iconbg_1 {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #dcf9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconbg_2 {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ffefdc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_primary:hover {
  color: #fff;
}
/* width height */
.w_12h_12 {
  width: 12px;
  height: 12px;
}

.w_12h_16 {
  width: 12px;
  height: 16px;
}

.w_14_h_14 {
  width: 14px;
  height: 14px;
}


.w_14{
  width: 14px;
}

.w_16_h_16 {
  width: 16px;
  height: 16px;
}

.w_18_h_18 {
  width: 18px;
  height: 18px;
}

.w_25_h_25 {
  width: 25px;
  height: 25px;
}

.w_35_h_auto {
  width: 35px;
  height: auto;
}

.h_30_w_auto{
  height: 30px;
  width: auto;
}

.w_35_h_35 {
  width: 35px;
  height: 35px;
}

.w_40 {
  width: 40px;
}

.w_150 {
  width: 150px !important;
}

.w_100{
  width: 100px;
}

.w_180 {
  width: 180px;
  max-width: 100%;
}

.w_200 {
  width: 200px;
  max-width: 200px;
}

.w_65 {
  width: 65px;
}

.w_25 {
  width: 25px;
}

.w_20 {
  width: 20px;
}
/* font size */
.text_primery {
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Poppins;
}

.active_text_click {
  text-decoration: none;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.14px;
}

.fs_12_fw_400_c_B5B8B8 {
  color: var(--Stroke, #b5b8b8);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  text-transform: capitalize;
}

.fs_14_fw_500_c_B5B8B8 {
  color: var(--Stroke, #b5b8b8) !important;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  text-transform: capitalize;
}

.fs_13_fw_400_c_5656 {
  color: var(--Light-text, #565656);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}

.fs_13_fw_400_c_1313 {
  color: #131313;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 138.462% */
}

.fs_16_fw_700_c_5656 {
  color: var(--Light-text, #565656);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 138.462% */
}

.fs_10_fw_400_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 140% */
  white-space: normal; /* 👈 Force text to break to next line */
  word-wrap: break-word;
}

.fs_12_fw_400_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  text-transform: capitalize;
}

.fs_14_fw_400_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  word-wrap: break-word;
}

.fs_14_fw_500_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 157.143% */
  word-wrap: break-word;
}

.fs_14_fw_700_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  word-wrap: break-word;
}

.fs_15_fw_400_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
}

.fs_15_fw_500_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 173.333% */
}

.fs_15_fw_600_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 173.333% */
}

.fs_16_fw_400_c_1313 {
  color: #131313;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.fs_16_fw_600_c_1313 {
  color: #131313;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
}

.fs_16_fw_700_c_1313 {
  color: #131313;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
}

.fs_18_fw_600_c_1313 {
  color: #131313;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 100% */
}

.fs_18_fw_700_c_1313 {
  color: #131313;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 100% */
}

.fs_20_fw_700_c_1313 {
  color: #131313;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 150% */
}

.fs_22_fw_700_c_1313 {
  color: #131313;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
}

.fs_24_fw_700_c_1B3A4B {
  color: #1b3a4b;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
}

.fs_24_fw_700_c_1313 {
  color: #131313;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
}

.fs_26_fw_700_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 100% */
}

.fs_28_fw_700_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 100% */
}

.fs_32_fw_700_c_1313 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 100% */
}

.active .fs_18_fw_600_c_1313 {
  color: #fff;
}

.fs_16_fw_600_c_009DFF {
  color: #009dff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.fs_14_fw_600_c_009DFF {
  color: #009dff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

/* linear color */

.fs_14_fw_600_c_linear {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs_15_fw_600_c_linear {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs_16_fw_600_c_linear {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs_18_fw_700_c_linear {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 100% */

  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs_20_fw_500_c_red_linear {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 100% */
  background: var(--red, linear-gradient(180deg, #630000 0%, #c90000 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fs_20_fw_500_c_linear {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 100% */
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs_20_fw_600_c_linear {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs_40_fw_700_linear {
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs_16_fw_400_c_fbfb {
  color: #fbfbfb;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fs_13_fw_700_c_fff {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px; /* 100% */
}

.fs_36_fw_700_c_fff {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.fs_26_fw_700_c_fff {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fs_16_fw_500_c_fff {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fs_20_fw_500_c_fff {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
}

.fs_22_fw_700_c_fff {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 145.455% */
}

.fs_24_fw_700_c_fff {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 145.455% */
}

.fs_15_fw_400_c_fff {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 100% */
  text-transform: capitalize;
}

.fs_15_fw_700_c_1313 {
  color: var(--White, #131313);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 100% */
}

.fs_15_fw_700_c_fff {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 100% */
  text-transform: capitalize;
}

.fs_18_fw_600_background{
  text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 111.111% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
/* text-transform: capitalize; */

background: var(--Gradient, linear-gradient(180deg, #004263 0%, #0086C9 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.fs_14_fw_700_background {
  font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 100% */
text-transform: capitalize;
background: var(--Gradient, linear-gradient(180deg, #004263 0%, #0086C9 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.fs_20_fw_500_background {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */

  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.fs_16_fw_500_background {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */

  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs_16_fw_600_background {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 100% */

  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs_16_fw_600_background_underline{
  background: var(--Gradient, linear-gradient(180deg, #004263 0%, #0086C9 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

.text_stroke {
  -webkit-text-stroke: 0.5px #004263;
}

.fs_20_fw_500_background li .fs_16_fw_400_c_1313 {
  color: var(--Black, #131313) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

h1 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 100% */
}

h3 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
}

h2 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 100% */
}

/* li::marker {
  color: red;
  margin-right: 0px 10px;
} */

h4 {
  color: #131313;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
}

h5 {
  color: #131313;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 150% */
}

h6 {
  color: #131313;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 100% */
}

p {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  margin-top: 0px;
  margin-bottom: 0px;
}

.p2 {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20spx; /* 157.143% */
}

.fs_12_fw_400_c_58748F {
  color: var(--Label-text, #58748f);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  text-transform: capitalize;
}

.fs_17_fw_400_c_1B3A4B {
  color: #1b3a4b;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fs_16_fw_500_c_004263 {
  color: #004263;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}

.nav-item a {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-link.dropdown-toggle {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-item a:hover {
  color: #fff;
}

.nav-item .active {
  color: #fff !important;
}

.nav-item .show {
  color: #fff !important;
}
/* Drop down css */
.dropdown .dropdown-item {
  color: #131313;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dropdown .dropdown-item:hover {
  color: #131313;
}

.dashboard_big_img {
  min-width: 850px;
  max-width: 100%;
}

/* position  */

.banner_left_img {
  position: absolute;
  left: -10px;
  top: 28%;
  width: 210px;
  border-radius: 8px;
  box-shadow: 0px 4px 40px 1px rgba(0, 0, 0, 0.13);
}

.banner_right_img {
  position: absolute;
  right: 44px;
  top: -24px;
  width: 210px;
  border-radius: 8px;
  box-shadow: 0px 4px 40px 1px rgba(0, 0, 0, 0.13);
}

.banner_bottom_img {
  position: absolute;
  right: 58px;
  bottom: -53px;
  width: 210px;
  border-radius: 8px;
  box-shadow: 0px 4px 40px 1px rgba(0, 0, 0, 0.13);
}

/* margin */

.margin_top_300 {
  margin-top: 300px;
}

.margin_top_350 {
  margin-top: 350px;
}

.margin_top_50_persent {
  margin-top: 50%;
}

/* Reverse Auction Menus */
.reverse_Auction_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reverse_Auction_list .menu-item {
  background-color: #fff;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active .menu-item {
  border-radius: 8px;
  background: #1b5b7e;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
  color: #fff;
}

.reverse_Auction_list .menu-item.active span {
  color: #fff !important;
}

.reverse_Auction_list .menu-item img {
  width: 20px;
  /* height: 16px; */
}

.arrow_120_bg {
  width: 30px;
  height: 30px;
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
}

.arrow_120_bg img {
  width: 12px !important;
  height: 12px;
}

.text-justify {
  text-align: justify;
}

.spacer_150 {
  height: 150px;
}

.spacer_120 {
  height: 120px;
}

.top_sec_spacer {
  height: 70px;
}

.spacer_100 {
  height: 100px;
}

.spacer_90 {
  height: 90px;
}

.spacer_80 {
  height: 80px;
}

.spacer_70 {
  height: 70px;
}

.spacer_60 {
  height: 60px;
}

.spacer_40 {
  height: 40px;
}

.spacer_20 {
  height: 20px;
}

.spacer_15 {
  height: 15px;
}

.spacer_20 {
  height: 20px;
}

.spacer_30 {
  height: 30px;
}

/* accordian tyle */
.accordion-button::after {
  display: none !important;
  /* Hiding the default Bootstrap arrow */
}

.accordion-button .icon {
  font-size: 20px;
  /* font-weight: bold; */
}

/* Change the icon to minus when expanded */
.accordion-button:not(.collapsed) .icon {
  content: "-";
  color: #131313;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 69.231% */
}

/* Add custom background and border */
.accordion-item {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Change the background on hover */
.accordion-button:hover {
  background-color: #f8f9fa;
}

.accordian_container {
  border-radius: 8px !important;
  border-color: red;
  background: var(--White, #fff);
}

.accordian_container .accordion-flush > .accordion-item:first-child {
  border-top: 1px;
}
.accordian_container .accordion-flush > .accordion-item {
  border-right: 1px;
  border-left: 1px;
  border-radius: 5px;
}

/* footer style */

.footer_logo {
  min-width: 150px;
  max-width: 200px;
}
.footer_menu .footer_menu_title {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
  text-transform: capitalize;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_link {
  color: var(--Black, #131313) !important;
  font-family: Poppins !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.footer_link.active {
  font-weight: 500 !important;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_link:hover {
  color: #131313;
}

.footer_style {
  /* border-top: 1px solid #e0e0e0; */
  background: linear-gradient(180deg, #fff 0%, #eefeff 100%);
  flex-shrink: 0;
}

.footer_bg_image {
  /* background-image: url("../images/footer_first_bg.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.footer_bg_image::before {
  content: "";
  width: 100%;
  height: 200px;
  background-image: url("../images/footer_first_bg.png");
  position: absolute;
  top: -5px;
}

.footer_share_icon {
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
}

.microsoft_azure {
  width: 120px;
  max-width: 100%;
}

.linear-border {
  /* padding: 15px; */
  background: #fff;
  /* border-radius: 5px; */
  position: relative;
}

.footer_gradientt_circle {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 28px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
}

.copy_write_text {
  color: rgba(19, 19, 19, 0.6);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: capitalize;
}

.linear-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 2px;
  background: linear-gradient(90deg, #0086c9, #004263);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

/* divider */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 12px 40px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #b5b8b8;
  /* Light grey line */
}

.divider span {
  padding: 0 10px;
  color: var(--Text-Slate-Color-50, #7e8b9e);
  font-family: Poppins;
  font-size: 11.108px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 19.995px */
}

/* divider end */

/* Form css start */
.form-control {
  border-radius: 5.888px;
  border: 0.736px solid var(--Stroke, #b5b8b8);
  background: #fafafc;
}

.form-label {
  color: var(--Black, #131313);
  font-family: Poppins;
  font-size: 12.96px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.439px */
}

/* form css end */

/* Comming soon css */

.comingSoon_container {
  margin: 60px 0px;
}

.comingSoon_parent {
  text-align: center;
  margin-top: 30px;
}

.comingSoon_text {
  font-family: "Times New Roman";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  background: var(
    --Gradient-2,
    linear-gradient(180deg, #1b5b7e 0%, #105479 104.16%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_container .comingSoon_container .comingSoon_text span {
  font-family: "Times New Roman", Times, serif !important;
}

.comingSoon_bg_image {
  background-image: url("../images/comming_soon_Logo_ProcureClix.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.rfp_system_img {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 1;
  width: 356px;
  height: 486px;
  flex-shrink: 0;
  border-radius: 8px;
}

.rfp_system_right_img{
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 1;
  width: 356px;
  height: 486px;
  flex-shrink: 0;
  border-radius: 8px;
}

.comming_soon_Logo_ProcureClix {
  position: relative;
}

.mb_12 {
  margin-bottom: 12px;
}

.services_spacer{
  height: 150px;
}

.radious_10{
  border-radius: 10px;
}


.radious_30{
  border-radius: 30px !important;
}

/* .comming_soon_Logo_ProcureClix::after {
  content: "Coming Soon";
  position: absolute;
  left: 50%;
  bottom: 23%; 
  transform: translateX(-50%);
  font-family: "Times New Roman";
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px; 
    background: var(
    --Gradient-2,
    linear-gradient(180deg, #1b5b7e 0%, #105479 104.16%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap; 
} */

/* media query */
/* media query */

@media (max-width: 1024px) {
  .section_contaier {
    padding: 0 20px;
  }
}

@media (min-width: 1024px) {
  .section_contaier {
    padding: 0 50px;
  } 
}

@media (min-width: 1440px) {
  .section_contaier {
    padding: 0 90px;
  }
   /* .rfp_system_img{
    left: 75px;
  } */
  /* .rfp_system_right_img{
    right: 75px;
  } */
}



@media (min-width: 1690px) {
  .services_spacer{
    height: 240px;
  }
}

@media (min-width: 1920px) {
  .section_contaier {
    padding: 0 150px;
  }
  /* .rfp_system_img{
    left: 125px;
  } */
  /* .rfp_system_right_img{
    right: 125px; 
  }*/
}

@media (max-width: 991.98px) {
  .nav-item .dropdown.active::after {
    display: none;
  }
  .top_sec_spacer {
    height: 60px;
  }
}













/*================ preloader css ====================*/
#preloader {
  background: #fff;
  background: #000000bc;
  height: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* display: none !important; */

  .loading {
    display: flex;
  }

  .ctn-preloader {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    animation: spinner 3s infinite linear;
    border-radius: 50%;
    border: 5px solid #f1f6f8;
    border-left-color: #1b5b7e;
    border-top-color: #1b5b7e;
    margin: 0 auto 0em auto;
    position: absolute;
    left: -40px;
    right: -40px;
    bottom: -40px;
    top: -40px;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      border: 6px solid #fff;
      box-shadow: 0 0 20px 0 rgba(4, 46, 56, 0.2);
      background: #1b5b7e;
      position: absolute;
      right: 20px;
      top: 41px;
      border-radius: 50%;

      @media (max-width: 576px) {
        top: 30px;
      }
    }
  }

  .round_spinner {
    border-width: 1px;
    border-color: rgb(238, 243, 244);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 100px 0 rgba(4, 46, 56, 0.14);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 40px auto 80px;

    .text {
      display: flex;
      flex-direction: column;
      padding: 21px;
      gap: 10px;
      align-items: center;
    }

    @media (max-width: 576px) {
      width: 250px;
      height: 250px;
    }

    h4 {
          background: var(--Gradient, linear-gradient(180deg, #004263 0%, #0086c9 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: capitalize;
    }
  }
}

#preloader .head {
  color: #1d2746;
  display: block;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 5.2px;
  text-transform: uppercase;
  text-align: center;
  margin: 5% 0 1% 0;
  padding: 0;
}

#preloader p {
  color: #6b707f;
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}


@media (max-width : 991.5px){
       #plaxeholder .round_spinner {
            width: 120px;
            height: 120px;
        }
}



/* loader css end */
