/* loader start */
@keyframes wave2 {
  25% {
    transform-origin: 0 100%;
  }

  50% {
    transform: scale(1.8, 1.3);
  }

  75% {
    transform-origin: 100% 100%;
  }

  100% {
    transform: scale(1, 1.3);
  }
}

@keyframes wave4 {
  25% {
    transform: scaleY(0.9);
  }

  75% {
    transform: scaleY(1.1) scaleX(1.02);
  }
}

@keyframes star {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }

  50% {
    transform: scale(0.8);
    opacity: 1;
  }

  75% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: scale(1.01) rotate(-5deg);
    opacity: 1;
  }
}

@keyframes star2 {
  0% {
    transform: scale(0.3);
  }

  50% {
    transform: scale(0.8);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.01);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: translateX(-10px) scale(0.9);
  }

  100% {
    transform: translateX(30px) scale(1.3) translateY(10px);
  }
}

@keyframes spin {
  0% {
    transform: translateX(-10px) scale(0.9);
  }

  100% {
    transform: translateX(30px) scale(1.3) translateY(10px);
  }
}

@-webkit-keyframes spin1 {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes spin1 {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.5);
  }
}

@-webkit-keyframes spin2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(40px);
  }
}

@keyframes spin2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(40px);
  }
}

@-webkit-keyframes pulse1 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4.5);
    border-radius: 50%;
  }
}

@keyframes pulse1 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4.5);
    border-radius: 50%;
  }
}

@keyframes customUp {
  0% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes clipInDown {
  0% {
    clip-path: polygon(-10% -10%, -10% -10%, 110% -10%, 110% -10%);
  }

  100% {
    clip-path: polygon(-10% 110%, -10% -10%, 110% -10%, 110% 110%);
  }
}

.clipInDown {
  animation-name: clipInDown;
}

/*================ preloader css ====================*/
#preloader {
  background: #fff;
  height: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none !important;
  .loading {
    display: flex;
  }

  .ctn-preloader {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    animation: spinner 3s infinite linear;
    border-radius: 50%;
    border: 5px solid #f1f6f8;
    border-left-color: #1b5b7e;
    border-top-color: #1b5b7e;
    margin: 0 auto 0em auto;
    position: absolute;
    left: -40px;
    right: -40px;
    bottom: -40px;
    top: -40px;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      border: 6px solid #fff;
      box-shadow: 0 0 20px 0 rgba(4, 46, 56, 0.2);
      background: #1b5b7e;
      position: absolute;
      right: 20px;
      top: 41px;
      border-radius: 50%;

      @media (max-width: 576px) {
        top: 30px;
      }
    }
  }

  .round_spinner {
    border-width: 1px;
    border-color: rgb(238, 243, 244);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 100px 0 rgba(4, 46, 56, 0.14);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 40px auto 80px;

    .text {
      display: flex;
      flex-direction: column;
      padding: 21px;
      gap: 10px;
      align-items: center;
    }

    @media (max-width: 576px) {
      width: 250px;
      height: 250px;
    }

    h4 {
      background: var(
        --Gradient,
        linear-gradient(180deg, #004263 0%, #0086c9 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      text-transform: capitalize;
    }
  }
}

#preloader .head {
  color: #1d2746;
  display: block;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 5.2px;
  text-transform: uppercase;
  text-align: center;
  margin: 5% 0 1% 0;
  padding: 0;
}

#preloader p {
  color: #6b707f;
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 991.5px) {
  #plaxeholder .round_spinner {
    width: 120px;
    height: 120px;
  }
}

/* loader end */

.resorse_banner_bg {
  width: 100%;
  min-height: 400px;
  background-image: url("/assets/images/resourses/resourses_banner_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
}

.resourses_container {
  padding-left: 150px;
  padding-right: 150px;
}

.search_field::placeholder {
  color: var(--Stroke, #b5b8b8);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  opacity: 1; /* Make sure it's visible */
}

.search_field {
  padding-left: 30px;
  padding-right: 90px;
  height: 45px;
}

.form_search_icon {
  position: absolute;
  left: 10px;
  bottom: 15px;
}
.search_btn:hover {
  color: #fff;
}
.search_btn {
  /* button style */
  display: inline-flex;
  padding: 18px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  /* border: 1px solid var(--Gradient, #004263); */
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  transform: translateY(-50%);
  /* text style */
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 100% */

  /* position  */
  position: absolute;
  bottom: 50%;
  top: 50%;
  right: 5px;
  border: 0px;
}

.letter_graph {
  border-radius: 10px;
  background: var(--lightng, #eefaff);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.primery_bg_box:hover {
  color: #fff;
}

.primery_bg_box {
  border-radius: 2px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;

  /* text style */
  color: var(--White, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.white_bg_box:hover {
  background-color: #fff;
}

.white_bg_box {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 2px;
  background: var(--White, #fff);
  display: flex;
  justify-content: center;
  align-items: center;

  /* text style */
  color: var(--Black, #131313);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  border: 0px;
}

.white_bg_box:disabled {
  color: var(--Stroke, #b5b8b8) !important;
  background-color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: capitalize;
  opacity: 1;
}

.refres_btn {
  display: flex;
  justify-content: end;
  align-items: center;
  border: 0px;
  background-color: transparent;
}

.resources_white_card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 48px 4px rgba(0, 0, 0, 0.06);
  padding: 30px;
}

.text_style {
  position: absolute;
  top: 27 px;
  left: 26px;
}

.bg_letter::before {
  content: attr(data-letter); /* Uses the dynamic letter */
  color: var(--Primary, #1b5b7e);
  text-align: center;
  font-family: Poppins;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  text-transform: capitalize;
  opacity: 0.2;
  position: absolute;
  top: -18px;
  left: 0;
}

.c_letter::before {
  content: "C";
  color: var(--Primary, #1b5b7e);
  text-align: center;
  font-family: Poppins;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px; /* 100% */
  text-transform: capitalize;
  opacity: 0.2;
  position: absolute;
  top: -18px;
  left: 0;
}

.card_text {
  color: var(--Primary, #1b5b7e);
  text-align: center;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 100% */
  text-transform: capitalize;
}

.under_line {
  position: relative;
}

.under_line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background: #0086c9;
}

.resourses_btn {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  border: 0px;
  max-width: 200px;
  /* text style */

  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 100% */
}

.resourses_btn_2 {
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  border: 0px;
  /* text style */

  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 100% */
}

.resourses_btn:hover,
.resourses_btn_2:hover {
  color: #fff;
}

.resourses_btn_bg_white {
  display: inline-flex;
  padding: 9px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Gradient, #004263);
  /* text style */
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 100% */
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resourses_btn_bg_white:hover {
  border: 1px solid var(--Gradient, #004263);
}

.white_bg {
  background-color: #fff !important;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* clamp to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em; /* Adjust line height */
  max-height: 3.2em; /* Approx 2.5 lines */
}

/* glossary description */
.glossary_dis {
  margin-top: -150px;
}

.glossary_dec_ol {
  list-style: none;
}

.glossary_des_para {
  color: #131313;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

/* confrence */

.confrence_card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 48px 4px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
}

.confrence_border {
  width: 100%;
  height: 8px;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
}

.disabale_confrence_border {
  width: 100%;
  height: 8px;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: var(--red, linear-gradient(180deg, #630000 0%, #c90000 100%));
}

.con_register {
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );
  border: 0px;

  /* text style */
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 100% */
}

.con_register_gray {
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0px;
  border-radius: 10px;
  background: var(--Stroke, #b5b8b8);

  /* text */
  color: var(--Light-text, #565656);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 100% */
}

/* pricing */

.pricing_card_text {
  position: absolute;
  top: 20px;
  left: 55px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pricing_card_text .arrow_forword {
  transform: rotate(180deg);
}

.pricing_sales_btn {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  border-width: 0px;
  border-radius: 10px;
  background: var(
    --Gradient,
    linear-gradient(180deg, #004263 0%, #0086c9 100%)
  );

  /* text style */
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease;
}

.pricing_sales_btn:hover {
  color: #fff;
}

.pricing_table {
  border-collapse: separate;
  border-spacing: 12px; /* adds spacing between cells */
  background-color: #eefaff;
  padding: 30px;
  border-radius: 30px;
}

.pricing_div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 35px;
  text-transform: capitalize;
}
/* Optional: styling the inner divs for column titles */
.white_td_gb {
  background-color: #fff;
  padding: 10px 20px;
  justify-content: center;
}

.white_bg_top_radious {
  background-color: #fff;
  border-radius: 30px 30px 0px 0px;
  padding: 20px;
  justify-content: center;
}

.white_bg_bottom_radious {
  background-color: #fff;
  border-radius: 0px 0px 30px 30px;
  padding: 20px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .resourses_container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  .section_contaier {
    padding: 0 30px;
  }
}

@media (min-width: 1440px) {
}
