/* rfp services */

.bg_slid {
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0;
  z-index: 0;
  width: 377px;
  height: 100vh;
}

.img_rfq_event {
  position: absolute;
  right: 0px;
  top: 50px;
  bottom: 50px;
  z-index: 1;
  height: 100%;
  max-height: 88vh;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

/* benifit */

.benifit_column {
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--White, #fff);
  padding: 15px;
  width: 190px;
  hyphens: 190px;
}

.integration_img {
  width: 90%;
  height: auto;
}

.service_costing_hefty {
  border-radius: 8px;
  background: var(--White, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 25px;
}

.integration_shadow_column {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
  padding: 25px;
}

.faq_img {
  width: 570px;
  max-width: 100%;
}

.numbers_parent {
  border-top: 1px solid #e0e0e0;
  justify-content: space-between;
  padding: 20px 0px;
}

.left_border {
  border-right: 1px solid #e0e0e0;
}

.blue_managment_signal_ring {
  width: 135px;
  position: absolute;
  bottom: 70px;
  right: 0;
}

/* Media query  */

@media (max-width: 1000px) {
  .img_rfq_event {
    right: 30px;
  }
}

@media (max-width: 770px) {
  .rfq_ban_img {
    position: relative;
  }
  .bg_slid {
    position: static;
    display: none;
  }
  .img_rfq_event {
    position: static;
    width: 100%;
    text-align: center;
    transform: translateY(0%);
  }
}


/* solutions  */

.suppler_challenges{
  overflow: hidden;
  position: relative;
  padding: 50px;
  background-image: url("../images/services/solution_supplire_challenges_bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.challenges_bg {
  border-radius: 8px;
  background: var(--White, #fff);
  margin-top: 65px;
  padding: 25px 50px;
  position: relative;
  z-index: 1;
}

.chalenge_dubble_ring {
  position: absolute;
}


.services_benifit_container {
  border-radius: 10px;
  background: #eefaff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.13);
  position: relative;
  overflow: hidden;
}
